.sns_button_group__container {
    align-items: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
    width: 2em;

    @apply text-white bg-blue-600;

    &__title {
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 5px;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }

    &__icon {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
