.avaterImage {
  // layout
  @apply w-full align-middle rounded absolute;
  // image設定
  background-image: url('../../../public/RushiaAvator.webp');
  left: 0;
  top: -100px;
  max-width: 580px;
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media screen and (max-height: 667px) {
    top: -210px;
    height: 220px;
  }
  @media screen and (max-width: 760px) {
    top: -210px;
    height: 260px;
  }
  @media screen and (max-height: 736px) {
    top: -210px;
    height: 290px;
  }
}

// .comingSoonImage {
//   // layout
//   @apply max-w-full rounded-lg shadow-xl;
//   // image設定
//   background-image: url('../../../public/rushia_gif.gif');
//   max-width: 580px;
//   height: 380px;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
// }

.comingSoonImage {
  // layout
  @apply max-w-full rounded-lg shadow-xl;
  transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
}
