$breakpoints: (
  'pc': 'screen and (min-width: 761px)',
  'sp': 'screen and (max-width: 760px)',
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.container {
  @apply w-full min-h-screen bg-white flex justify-center items-center;
  &__frame {
    position: absolute;
    box-sizing: border-box;
    @include mq() {
      top: 30px;
      left: 30px;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      border: solid 2px #77d2b8;
      border-radius: 20px;
    }

    @include mq(sp) {
      top: 10px;
      left: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: solid 2.5px #77d2b8;
      border-radius: 30px;
    }
    // Titleと画像
    &__items {
      @apply flex justify-center items-center h-full;
    }
    &__title {
      @apply flex lg:flex-row flex-col justify-center items-center w-full;
      &__backgroundImage {
        // layout
        @apply rounded-lg flex flex-col justify-center px-8;
        // image設定
        background-image: url('../../../public/butterfly_animation.svg');
        width: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include mq() {
          height: 400px;
        }
        @include mq(sp) {
          height: 200px;
        }
      }
    }
  }
}

/* animation */

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-right-color: currentColor;
  }
}

.title__animation1 {
  width: 12ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(20);
}

.title__animation2 {
  width: 7ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid transparent;
  animation: typing 1s steps(20), cursor 0.5s steps(1) infinite;
}
