.header__container {
    @apply flex justify-center items-center lg:text-2xl;

    &__image {
        // layout
        @apply rounded-lg flex flex-col justify-center px-8;
        // image設定
        background-image: url('../../../../public/butterfly.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 60px;
        width: 70px;
    }

    &__label {
        @apply text-primaryFont;
    }
}
